<header th:fragment="header" class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link link-dark px-2 border-bottom">Книги</a></li>
        <li><a href="/users" class="nav-link link-dark px-2 border-bottom">Пользователи</a></li>
        <li><a href="/authors" class="nav-link link-dark px-2 border-bottom">Авторы</a></li>
        <li><a href="/categories" class="nav-link link-dark px-2 border-bottom">Категории</a></li>
        <li><a href="/genres" class="nav-link link-dark px-2 border-bottom">Жанры</a></li>
        <li><a href="/languages" class="nav-link link-dark px-2 border-bottom">Языки</a></li>
        <li><a href="/countries" class="nav-link link-dark px-2 border-bottom">Страны</a></li>
        <li><a href="/suppliers" class="nav-link link-dark px-2 border-bottom">Поставщики</a></li>
        <li><a href="/shipments" class="nav-link link-dark px-2 border-bottom">Поставки</a></li>
        <li><a href="/selections" class="nav-link link-dark px-2 border-bottom">Подборки</a></li>
      </ul>

      <a href="/logout" class="btn btn-outline-secondary">Выход</a>

    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none" >
    <defs>
      <symbol id="icon-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </symbol>
    </defs>
  </svg>
</header>